#general{
 width:1000px;
 height: 600px;
 }
 #theform{
 background-color: rgb(255,200,140);
 margin:0 auto;
 width:600px;
 height: auto;
 }
 td{
 width:100px;
 height: 50px;
 }
#h1{
margin-left:400px;
margin-right: 270px;
font-style: italic;
color: blue;
}
#quantity{
    width: 150px;
    height: 60px;
    outline-style: dotted;
    background-color: yellow;
}